! ! ------- Template ---------
! ! Background and Foreground 
! *background: #000000
! *foreground: #A8A8A8
!
! ! Standard Colors
! *color0:  #000000
! *color1:  #bb0000
! *color2:  #00bb00
! *color3:  #bbbb00
! *color4:  #0000bb
! *color5:  #bb00bb
! *color6:  #00bbbb
! *color7:  #bbbbbb
!
! ! Bright/Bold Colors
! *color8:  #555555
! *color9:  #ff5555
! *color10: #55ff55
! *color11: #ffff55
! *color12: #5555ff
! *color13: #ff55ff
! *color14: #55ffff
! *color15: #ffffff
! ! --------------------------


!! All
! *.background: #cc241d

!! Suckless
! Dwm
dwm.font: 						Hack Nerd Font Mono:size=12
dwm.gappx: 						10	
dwm.borderpx: 					4
dwm.normbgcolor:				#222222
dwm.selbgcolor: 				#b50000
dwm.selbordercolor: 			#b50001
! St
st.alpha: 						0.8
st.font: 						Hack Nerd Font Mono:pixelsize=17

!! Programs 
! Sxiv
Nsxiv.window.background: 	#222222 
Nsxiv.window.foreground:	#bbbbbb
Nsxiv.bar.font: 				Hack
